*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Krona One', sans-serif;
}

body{
    height: 100vh;
    background-image: url(https://images6.alphacoders.com/860/thumb-1920-860645.png);
    background-size: cover;
    background-position: center;
}

img{
    width: 100%;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

.container{
    position: relative;
}


[class^='col'].back{
    background-color: #5C94FC;
    z-index: -999;
}


h1{
    text-align: center;
}


h1 img{
    margin-bottom: 50px;
    width: 300px;
    filter: drop-shadow(30px -10px 30px white);
}

.wall{
    background-image: url(https://www.mariowiki.it/images/thumb/6/63/Brick_Block.png/200px-Brick_Block.png);
    background-size: contain;
    background-position: center;
    height: 40px;
}

.mario{
    width: 50px;
    filter: drop-shadow(20px -10px 30px white);
}

.mario-run{
    position: absolute;
    left: 25px;
    top: 0;
    width: 70px;
    animation: move 10s linear forwards;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
        }
    2% { 
        transform: translate(50px, 0);
        }
    4% { 
        transform: translate(70px, -20px);
        }
    7% { 
        transform: translate(130px, 85px);
        }
    12% { 
        transform: translate(230px, 85px);
        }
    14% {
        transform: translate(300px, 0px); 
        }
    16% {
        transform: translate(325px, 20px); 
        }
    18% {
        transform: translate(350px, -20px); 
        }
    21% {
        transform: translate(425px, 25px); 
        }
    23% {
        transform: translate(500px, 45px); 
        }
    25% {
        transform: translate(540px, 10px); 
        }
    26% { 
        transform: translate(550px, 45px);
        }
    30% { 
        transform: translate(650px, 45px);
        }
    35% { 
        transform: translate(750px, 30px);
        }
    36% { 
        transform: translate(775px, 35px);
        }
    40% { 
        transform: translate(800px, 80px);
        }
    44% { 
        transform: translate(850px, 45px);
        }
    46% { 
        transform: translate(875px, 80px);
        }
    49% { 
        transform: translate(925px, 0);
        }
    53% { 
        transform: translate(960px, 30px);
        }
    57% { 
        transform: translate(980px, 0);
        }
    60% { 
        transform: translate(1050px, 40px);
        }
    67% { 
        transform: translate(1200px, -20px);
        }
    70% { 
        transform: translate(1250px, 10px);
        }
    75% { 
        transform: translate(1375px, 0);
        }
    80% { 
        transform: translate(1400px, -20px);
        }
    90% { 
        transform: translate(1550px, -100px);
        }
    95% { 
        transform: translate(1550px, -100px);
        }
    100% { 
        transform: translate(1550px, 225px);
        }
 }

section:hover .mario{
    overflow: hidden;
}

.flag{
    position: absolute;
    width: 125px;
    right: -20%;
    bottom: -20%;
    z-index: -999;
}


.cube-1{
    position: absolute;
    top: 5%;
    left: 40%;
    width: 45px;
    filter: drop-shadow(1px 16px 20px yellow);
}

.cube-2{
    position: absolute;
    top: 15%;
    right: 36%;
    width: 45px;
    filter: drop-shadow(1px 16px 20px yellow);
}

.pianta{
    position: absolute;
    top: 33%;
    right: 27%;
    width: 80px;
    z-index: -1;
    filter: drop-shadow(-20px -10px 30px yellow);
}

.tubo{
    position: absolute;
    bottom: 7%;
    left: 2%;
    width: 50px;
    z-index: -999;
    filter: drop-shadow(0 -25px 20px green);
}

.goomba{
    position: absolute;
    bottom: 23%;
    left: 51%;
    width: 30px;
    z-index: -999;
    filter: drop-shadow(20px 15px 30px brown);
}

.koopa{
    position: absolute;
    left: 23%;
    top: 29%;
    width: 100px;
    z-index: -999;
    filter: drop-shadow(40px -15px 30px green);
}

.bowser{
    position: absolute;
    left: 25%;
    bottom: -110%;
    width: 300px;
    filter: drop-shadow(20px -10px 30px violet);
}